# Backups de base de datos
*.sql
backup*/

# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local

# Docker
.docker_data/

# Logs
*.log
error*.log

# Archivos temporales / basura de dev
diff*.txt
null
tmp/
backups/
